<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{url_for('home')}}" class="nav-link px-2 text-white text-bg-success rounded-2">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Account</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>


        <div class="text-end ">

            {% if not current_user.is_authenticated %}
          <a href="{{url_for('login')}}" class="text-decoration-none">Login </a>
          <a href="{{url_for('register')}}" class="text-decoration-none">Register </a>
          {% else %}
             <span class="text-bg-primary p-2 mr-2 rounded-2">Hi {{ current_user.name}}</span>
          <a href="{{url_for('logout')}}" class="text-decoration-none">Logout</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>