{% extends 'base.html' %}

{% block context%}

<div class="p-5 p-md-5 mb-4 font-weight-bold text-body-emphasis  imag">
    <div class="col-lg-6 px-0">
      <h1 class="display-2 mt-3 p-1 fst-normal text-bg-light rounded-1">What pi**es you off?</h1>
      <p class="lead my-3 p-1 rounded-1 text-bg-light">A collection of thoughts on the most annoying situations. </p>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
  </div>

 <div class="container">
      <div class="d-flex justify-content-center">
        <a class="btn btn-outline-warning" href="{{url_for('create_post')}}">
            Create New Post
        </a>
      </div>
 </div>
<hr />

<div class="container px-4 px-lg-5 ">
  <div class="row gx-4 gx-lg-5 justify-content-center ">
    <div class="col-md-12 col-lg-1 col-xl-12  rounded-2 p-5">
      <!-- Post preview-->
       {% for post in posts %}
      <div class="post-preview ">
          <h2 class="post-title "> {{post.title}} 😡</h2>

        <p class="post-meta">
            Posted by <span class="text-bg-secondary p-1 rounded-4">{{post.author_id}}</span>
          on <span> {{post.date}}</span>
            {%if current_user.get_id() == '1' %}
          <a href="{{url_for('delete', post_id=post.id)}}">✘</a>
            {% endif %}
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4 mb-5" />
      {% endfor %}

    </div>
  </div>
</div>



{% endblock %}