{% extends 'base.html' %}
{% from "bootstrap5/form.html" import render_form %}

{% block context%}
<div class="container">
<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
         {{render_form(form)}}
<br />
          {% with messages = get_flashed_messages() %}
      {% if messages %}
      <p class="flash text-bg-danger rounded-4 p-2">{{ messages[0] }}</p>
      {% endif %}
      {% endwith %}
      </div>
    </div>
  </div>
</main>
</div>
{% endblock %}

