{% extends 'base.html' %}
{% from "bootstrap5/form.html" import render_form %}

{% block context%}
<div class="container">
<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          {{render_form(form)}}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="flash bg-danger m-2 p-2 rounded-2">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}


      </div>
    </div>
  </div>
</main>
</div>
{% endblock %}

